:root {
    --radius: 2px;
    --border-left: 0px solid white;
    --border-right: 0px solid white;
    --border-top: 0px solid white;
    --border-bottom: 0px solid white;
    --background: #222;
    --color: white;
}
.tcd-container {
    display: grid;
    grid-gap: 3px;
    grid-auto-columns: 70px;
    grid-auto-rows: 20px;
    font-family:  "JetBrains Mono", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    /*justify-items: center;*/
    /*align-items: center;*/
}
.tcd-cell {
    border-radius: var(--radius);
    border-left: var(--border-left);
    border-right: var(--border-right);
    border-top: var(--border-top);
    border-bottom: var(--border-bottom);
    background: var(--background);
    color: var(--color);
}
.tcd-header-row, .tcd-header-col{
    --background: #ddd;
    --color: black;
 }
.tcd-header-measure {
    --background: rgb(255, 255, 255);
    --color: black;
}
.tcd-row, .tcd-col {
    --background: #aaa;
    --color: black;
}
.tcd-label-row-total, .tcd-label-col-total {
    --background: #666;
    --color: white;
}
.tcd-measure {
    --background: #ffe2b9;
    --color: black;
}
.tcd-total-row-measure, .tcd-total-col-measure  {
    --background: rgba(255, 218, 174, 0.76);
    --color: black;
}
.tcd-total-measure {
    --background: rgba(255, 221, 176, 0.6);
    --color: black;
}
.tcd-total, .tcd-gt {
    --background: #e05eff;
    --color: black;
}
.tcd-gt-measure {
    --background: #f0b3ff;
    --color: black;
}
.tcd-gt-label-row, .tcd-gt-label-col {
    --background: #444;
    --color: white;
}
