input:invalid, textarea:invalid {
    background-color: rgba(255, 0, 0, 0.1);
}
input:valid, textarea:valid {
    background-color: rgba(0, 255, 13, 0.1);
}
input::placeholder {
    font-style: italic;
    font-size: 11px;
}
input, select, textarea {
    border-radius: 4px;
    border: 1px solid #aaa;
    /* border-color: red; */
    padding: 5px;
}
input:focus, select:focus, textarea:focus {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: 0px 0px 5px 2px #ccc;
    /* border-radius: 4px; */
    outline: 0px solid #FF2200;
    /* outline-offset: -2px; */
    /* border-color: green; */
}
form select {
    width: 100%;
}
