.tcd-container {
    display: grid;
    grid-gap: 2px;
    grid-auto-columns: 80px;
    grid-auto-rows: 20px;
}
.tcd-header {
    background: white;
    color: black;
}
.tcd-body {
    background: #5c6cab;
}