.test-navbar-container {
    margin: 10px;
    display: flex;
}
.test-navbar-container > *:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.test-navbar-container > *:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.test-navbar-container > *:not(:first-child) {
    border-left: transparent 0 solid;
}
.test-navbar-button {
    padding: 10px 10px;
    font-family: Calibri, serif;
    font-size: 14px;
    border: 3px solid rgba(128, 128, 128, 0.3);
    background: rgba(211, 211, 211, 0.5);
}
.test-navbar-button:hover {
    background: rgba(211, 211, 211, 0.85);
    cursor: pointer;
}